In [2]:
import pandas as pd

In [6]:
#generacion de dataframe y de indices de la tabla
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]}, index=['Product A','Product B'])

           Yes   No
Product A   50  131
Product B   21    2

In [8]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [ ]:
#leemos archivo y asignamos un indice a cada columna
reviews = pd.read_csv('../input/wine-reviews/winemag-data_first150k.csv',index_col=0)

In [12]:
#guardar dataframe a csv
animals.to_csv('cows_and_goats.csv')

NameError: name 'animals' is not defined